takcot/xsd/details/__lob.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="./__signalInfo.xsd"/>
  <xs:include schemaLocation="../event/point.xsd"/>
  <xs:element name="__lob">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signalInfo" type="SignalInfo" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              The protocol-specific signal information pertaining to the LOB.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="__startLocation" type="event_point" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>
              The LOB's start location.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>

      <!-- LOB parameters -->
      <xs:attribute name="rssi" type="xs:double" use="optional">
        <xs:annotation>
          <xs:documentation>
            The RSSI of the signal that corresponds to the LOB, in dBm.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="azimuth" type="xs:double" use="required">
        <xs:annotation>
          <xs:documentation>
            The heading indicating where the signal came from, in degrees clockwise from True North.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="elevationAngle" type="xs:double" use="optional">
        <xs:annotation>
          <xs:documentation>
            The angle indicating where the elevation came from.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="sourceTxPower" type="xs:double" use="optional">
        <xs:annotation>
          <xs:documentation>
            The transmit power of the signal source, in dBm.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="confidence" type="xs:short" use="optional">
        <xs:annotation>
          <xs:documentation>
            The confidence level of the LOB.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute> 

      <!-- Common DF parameters --> 
      <xs:attribute name="family" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>
            The device's plugin family.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="deviceType" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>
            The device type.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="deviceTime" type="xs:long" use="optional">
        <xs:annotation>
          <xs:documentation>
            The time at which the device reported the message.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="unitId" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>
            The device's unit ID.
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>