takcot/xsd/details/__remotecontrol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="__remotecontrol">
    <xs:complexType>
      <xs:attribute name="version" use="required" type="xs:integer">
         <xs:annotation>
              <xs:documentation>The version of the remotecontrol detail tag currently in use</xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="uid" use="required" type="xs:string">
         <xs:annotation>
              <xs:documentation>The system performing the remote control</xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="callsign" use="required" type="xs:string">
         <xs:annotation>
              <xs:documentation>The callsign for the system performing the remote control in case the messages appear before contact information is discovered via the sa messages</xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="rotation" use="required" type="xs:double">
         <xs:annotation>
              <xs:documentation>The current rotation of the controlling device</xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="scale" use="required" type="xs:double">
         <xs:annotation>
              <xs:documentation>The current scale of the controlling device</xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="tilt" use="required" type="xs:double">
         <xs:annotation>
              <xs:documentation>The current tilt of the controlling device</xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="layer" use="optional" type="xs:string">
         <xs:annotation>
              <xs:documentation>The layer to be used (mobile or imagery)</xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="selection" use="optional" type="xs:string">
         <xs:annotation>
              <xs:documentation>The layer to be used identified by the layer name</xs:documentation>
         </xs:annotation>
      </xs:attribute>

      <xs:attribute name="locked" use="optional" type="xs:boolean">
         <xs:annotation>
              <xs:documentation>If the layer is locked so when zooming in and out it wont select another layer.</xs:documentation>
         </xs:annotation>
      </xs:attribute>



    </xs:complexType>
  </xs:element>
</xs:schema>
