takcot/xsd/details/__signalInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../event/point.xsd"/>
 
  <!-- Substitution grouping -->
  <xs:element name="__signalInfo" type="SignalInfo" abstract="true">
    <xs:annotation>
      <xs:documentation>
        This element is a base element for all signal information protocols.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="__identifiedRadio" type="IdentifiedRadio" substitutionGroup="__signalInfo">
    <xs:annotation>
      <xs:documentation>
        Generic DF for emitters that have been uniquely identified.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="__rf" type="RF" substitutionGroup="__signalInfo">
    <xs:annotation>
      <xs:documentation>
        Generic RF (radio-frequency) DF (direction-finding) signal.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="__wifi" type="WiFi" substitutionGroup="__signalInfo">
    <xs:annotation>
      <xs:documentation>
        An 802.11 signal.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="__cdma" type="CDMA" substitutionGroup="__signalInfo">
    <xs:annotation>
      <xs:documentation>
        CDMA (code division multiple access) cellular signal.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="__gsm" type="GSM" substitutionGroup="__signalInfo">
    <xs:annotation>
      <xs:documentation>
        GSM (global system for mobile communications) cellular signal.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="__umts" type="UMTS" substitutionGroup="__signalInfo">
    <xs:annotation>
      <xs:documentation>
        UMTS (universal mobile telecommunications system) cellular signal.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="__lte" type="LTE" substitutionGroup="__signalInfo">
    <xs:annotation>
      <xs:documentation>
        LTE (long-term evolution) cellular signal.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="__radar" type="Radar" substitutionGroup="__signalInfo">
    <xs:annotation>
      <xs:documentation>
        Generic radar DF signal.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <!-- Complex types -->
  <xs:complexType name="SignalInfo" abstract="true">
    <xs:sequence>
      <xs:element name="__targetLocation" type="event_point" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The estimated location of the device being corresponded with.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    
    <xs:attribute name="tag" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          The name used to identify the "registered" device.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="comments" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          General comments about the registration event.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="errorRadius" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>
          The radius of potential error of the estimated target location, in meters.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="downlinkRssi" type="xs:double" use="optional">
      <xs:annotation>
        <xs:documentation>
          The received signal strength indicator of the signal transmitted, in dBm.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="uplinkRssi" type="xs:double" use="optional">
      <xs:annotation>
        <xs:documentation>
          The received signal strength indicator of the signal received, in dBm.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="IdentifiedRadio">
    <xs:complexContent>
      <xs:extension base="SignalInfo">
        <xs:sequence/>
        <xs:attribute name="radioTechnology" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              The type of technology for Digital Mobile radios.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="rssi" type="xs:double" use="optional">
          <xs:annotation>
            <xs:documentation>
              The received signal strength indicator, in dBm.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="frequency" type="xs:long" use="required">
          <xs:annotation>
            <xs:documentation>
              The frequency being DF'ed, in Hz.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="emitterId" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>
              The unique emitter ID.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RF">
    <xs:complexContent>
      <xs:extension base="SignalInfo">
        <xs:sequence/>
        <xs:attribute name="rssi" type="xs:double" use="optional">
          <xs:annotation>
            <xs:documentation>
              The received signal strength indicator, in dBm.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="frequency" type="xs:long" use="required">
          <xs:annotation>
            <xs:documentation>
              The frequency being DF'ed, in Hz.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="WiFi">
    <xs:complexContent>
      <xs:extension base="SignalInfo">
        <xs:sequence/>
        <xs:attribute name="bssid" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              The basic service set identifier of the system.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ssid" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              The service set identifier.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="rssi" type="xs:double" use="optional">
          <xs:annotation>
            <xs:documentation>
              The received signal strength indicator, in dBm.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CDMA">
    <xs:complexContent>
      <xs:extension base="SignalInfo">
        <xs:sequence/>
        <xs:attribute name="msid" type="xs:long" use="optional">
          <xs:annotation>
            <xs:documentation>
              The mobile station identifier of the device.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="meid" type="xs:long" use="optional">
          <xs:annotation>
            <xs:documentation>
              The mobile equipment identifier of the device.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="esn" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              The electronic serial number of the device.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GSM">
    <xs:complexContent>
      <xs:extension base="SignalInfo">
        <xs:sequence/>
        <xs:attribute name="imsi" type="xs:long" use="optional">
          <xs:annotation>
            <xs:documentation>
              The international mobile subscriber identity of the device.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="imei" type="xs:long" use="optional">
          <xs:annotation>
            <xs:documentation>
              The international mobile equipment identity of the device.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="tmsi" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              The temporary mobile subscriber identity of the device.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UMTS">
    <xs:complexContent>
      <xs:extension base="SignalInfo">
        <xs:sequence/>
        <xs:attribute name="imsi" type="xs:long" use="optional">
          <xs:annotation>
            <xs:documentation>
              The international mobile subscriber identity of the device.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="imei" type="xs:long" use="optional">
          <xs:annotation>
            <xs:documentation>
              The international mobile equipment identity of the device.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="tmsi" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              The temporary mobile subscriber identity of the device.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="rscp" type="xs:double" use="optional">
          <xs:annotation>
            <xs:documentation>
              The reference signal code power, in dBm.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ecio" type="xs:double" use="optional">
          <xs:annotation>
            <xs:documentation>
              The received signal energy per chip to interference power ratio, in dB.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LTE">
    <xs:complexContent>
      <xs:extension base="SignalInfo">
        <xs:sequence/>
        <xs:attribute name="imsi" type="xs:long" use="optional">
          <xs:annotation>
            <xs:documentation>
              The international mobile subscriber identity of the device.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="imei" type="xs:long" use="optional">
          <xs:annotation>
            <xs:documentation>
              The international mobile equipment identity of the device.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="tmsi" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              The temporary mobile subscriber identity of the device.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="rsrp" type="xs:double" use="optional">
          <xs:annotation>
            <xs:documentation>
              The reference signal received power, in dBm.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="rsrq" type="xs:double" use="optional">
          <xs:annotation>
            <xs:documentation>
              The reference signal received quality, in dB.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Radar">
    <xs:complexContent>
      <xs:extension base="SignalInfo">
        <xs:sequence/>
        <xs:attribute name="soiDescription" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              Signal of interest description, e.g. "Threat" or just plaing "SOI".
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="facilityName" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              Name for the facility or installation, e.g. "Tucson".
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="elnot" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              Electronic intelligence notation string, representing a particular type of emitter.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="signalKind" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              Kind of signal detected, e.g. Pulsed, Phase Shifted Key (PSK), Continuous Wave (CW).
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="functionCode" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              String representing the purpose of the emitter.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="snr" type="xs:double" use="required">
          <xs:annotation>
            <xs:documentation>
              Signal-to-noise ratio, in dB.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="elnotScore" type="xs:short" use="required">
          <xs:annotation>
            <xs:documentation>
              Confidence in assigning the ELNOT string, 0 (least) to (100) most.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="frequency" type="xs:long" use="required">
          <xs:annotation>
            <xs:documentation>
              Emitter frequency, in Hz.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="pulseRepetitionInterval" type="xs:long" use="required">
          <xs:annotation>
            <xs:documentation>
              Correlation pulse repetition interval, in nanoseconds.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="pulseWidth" type="xs:long" use="required">
          <xs:annotation>
            <xs:documentation>
              Pulse width, in nanoseconds.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="modulationCode" type="xs:short" use="required">
          <xs:annotation>
            <xs:documentation>
              Modulation code, specific to the detecting system.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="confidence" type="xs:short" use="required">
          <xs:annotation>
            <xs:documentation>
              Emitter location confidence, 0 (least) to 100 (most).
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="downtime" type="xs:long" use="required">
          <xs:annotation>
            <xs:documentation>
              Time in milliseconds since the emitter was first seen.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>