takcot/xsd/details/creator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:complexType name="creator">
    <xs:attribute name="uid" use="required"/>
    <xs:attribute name="callsign"/>
    <xs:attribute name="time"/>
    <xs:attribute name="type"/>
  </xs:complexType>
  <xs:element name="creator" type="creator" />
</xs:schema>
